@keyframes slideHero{
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  
  to {
    transform: translateY(6rem); 
    opacity: 1;
  }
}


.slideHero {
  animation: slideHero 0.75s ease-in-out forwards;
  animation-delay: 0.5s;
}


.typing {
  border-right: 0.25rem solid;
  border-color: transparent;
  overflow: hidden;
  margin-inline: auto;
  white-space: nowrap;
  animation: typing 3s steps(22) forwards,
  blink 1s step-end 6;
  animation-delay: 1.25s;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: #3EC1C9;
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideTitle {
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 0s
}

.slideLine {
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.slideTextOne {
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.slideTextTwo {
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

@keyframes moveAndSpin {
  0%{
    transform: translateX(150%);
  }
  50%{
    scale: 0.5;
    opacity: 1;
  }

  100% {
    transform: translateX(-3rem);
    opacity: 1
  }
}

.animateImage {
  animation: moveAndSpin 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

@keyframes slideButton {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideButton {
  animation: slideButton 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
}
